.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);

  .content{
    background-color: rgb(8, 94, 137);
    width: 80%;
    margin: 0 auto;
    border-radius: 2px;
  }
}


